body{
  font-family: 'Montserrat-Thin';


}
.navbar-item{
  color: white;
  font-size: 1.4rem;
  padding: 0% 3% 0% 3%;
}
.nav-link{
  font-family: 'Montserrat', sans-serif;
  color: #ebe6e6;
}
.btn{
  font-family: 'Montserrat', sans-serif;
}

#title{
  background-color: #ff4c68;

}

.p-size{

  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.container-fluid
{
  padding: 3% 15% 7% 15%;
}
.row{
  margin: 7% 5% 0% 10%;
}
 .navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 2rem;
}
h1{
  font-weight: 50px;
}
.download-button{
  margin: 5% 3% 5% 0;
}

.navbar-brand {
  margin-left: 11%;
}
.navbar-nav{
  margin-right: 15%;
}
.title-image
{
  width: 250px;
  transform: rotate(25deg);
  margin-left: 3%;
  position: absolute;

}


#features{
  text-align: center;
background-color: white;
  padding: 4% 7% 10% 0;
  position: relative;
  /* z-index: 1; */
}
/* .side-margin{
  padding: 0 5% 0 5%;
} */
.iconi{
  width:40px;
  padding: 4% 0;
}
.feature-space
{
  padding: 2% 5%;
}
h4{
  font-weight: bold;
}
p{
  color: #8f8f8f;
}
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: white;

}
.carousel-item{
  padding: 10% 20% 7% 20%;
}
.iconi:hover
{
  width: 50px;

}
#pricing{
  padding: 14% 10%;
  text-align: center;
}
.card{
  text-align: center;
}
.price{
padding: 0 2%;


}
.card-body{
  height: 300px;

}
h2{
  font-family: "Montserrat"
  font-size:3rem;
  line-height: 1.5;
  font-weight: bold;
}

.doggie{
  width: 18%;
  border-radius: 100%;
    padding: 2%;
}
.testimonial-image{
  width: 18%;
  border-radius: 100%;
    padding: 2%;
}
#press
{
  background-color: #ef8172;
  padding-bottom: 2%;
  text-align: center;
}
.press-design{
  width: 12%;
  margin: 0 2%;
}
@media(max-width:1028px)
{
  .title-image{
    position: static;
    transform: rotate(0);

  }
  #title{
    text-align: center;
  }
}
#cta{
  background-color:#ff4c68;
  padding: 8% 33%;
  text-align: center;
  color: white;

}
h3{
font-weight: bold;
font-family: sans-serif;
}
#footer{
  padding: 5% 5%;
  text-align: center;
}.icon-style{
  padding: 1% 1%;
  font-size: 28px;
}
